accelerate==1.2.1
clip==1.0
diffusers==0.11.1
einops==0.8.1
h5py==3.10.0
matplotlib==3.8.4
numpy==2.2.3
omegaconf==2.3.0
openai_clip==1.0.1
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
scipy==1.15.2
sewar==0.4.6
skimage==0.0
torch==2.4.1
torchvision==0.19.1
tqdm==4.66.2
transformers==4.47.1
